.container {
  display: flex;
  max-width: 1918px;
  height: 954px;
  margin-top: 19px;
  flex-direction: column;
}

.nav {
  max-width: 96%;
  height: 20%;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  word-spacing: 13px;
  text-align: right;
}

span img {
  vertical-align: middle;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #757575;
  text-decoration: underline;
}



.main {
  max-width: 96%;
  height: 71%;
}

.googleIcon {
  text-align: center;
}

input {
  height: 40px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #EBEBEB;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 1px 0.5px #C5C5C5;
  padding-left: 10px;
  line-height: 34px;
  border-radius: 2px;
}


input:focus { 
  outline: none;
  border-color: #EBEBEB ;
}

.buttons {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

button {
  color: #757575;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 12px;
  background-color: #F2F2F2;
  border-style: none;
}

button:hover {
  color: black;
  border: 0.3px solid #d9d9d9;
}

button:focus {
  border-color: #4285F4;
}

.leftButton {
  margin-right: 7px;
}

.rightButton a {
  color: #757575;
}

.rightButton a:hover {
  color: black;
  text-decoration: none;
}

.diffLanguage {
  font-size: 13px;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-top: 30px;
}

.diffLanguage a {
  color: #1a0dab;
}

footer {
  border: 1px solid #E4E4E4;
  background-color: #F2F2F2;
  align-items: flex-end;
  max-width: 100%;
  height: 9%;
}

.country {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 40px;
  padding-left: 31px;
  color: rgba(0,0,0,0.54);
  border-bottom: 1px solid #E4E4E4;
}

.footerContainerLeftSide {
  color: #666666;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 40px;
  padding-left: 31px;
}

.footerContainerLeftSide a:hover {
  text-decoration: underline;
}

.footerContainerRightSide {
  text-align: right;
  float: right;
  line-height: 40px;
  padding-right: 31px;
  word-spacing: 20px;
}

.footerContainerRightSide a {
  color: #666666;
  text-decoration: none;
}

.footerContainerRightSide a:hover {
  text-decoration: underline;
}

a span {
  padding-right: 20px;
  color: #666666;
}