.container {
  display: flex;
  width: 1900px;
  margin-top: 19px;
  margin-left: 10px;
  margin-right: 10px;
  word-spacing: 10px;
}

.nav {
  height: 30px;
  width: 100%;
  font-family: "Arial", serif;
  font-size: 14px;
  word-spacing: 14px;
  text-align: right;
  padding-left: 30px;
  padding-right: 30px;
}

img {
  vertical-align: middle;
}

a:hover {
  color: #757575;
}

a:link {
  text-decoration: none;
}